.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.contact-form label {
    font-family: var(--font-head);
    color: var(--accent-col);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    background-color: var(--card-bg);
    border: 1px solid #333;
    color: var(--text-col);
    border-radius: 5px;
    font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--accent-col);
}